
.card-mini {
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(25, 26, 50, 0.1);
    border-radius: 12px;
    padding: 20px 24px;

    &.check {
        & .card-mini__circle {
            &:before {
                background-image: url(../img/icons/check.svg);
                background-repeat: no-repeat;
                background-position: center;

            }
        }
    }

    &__row {

        &_1 {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 16px;
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: -24px;
                width: 5px;
                height: 56px;
                background: linear-gradient(144.06deg, #E3ECFF -73.06%, rgba(227, 236, 255, 0) 71.3%), #487FF4;
                border-radius: 0px 8px 8px 0px;
                transform: translateY(-50%);
            }
        }

        &_2 {
            font-size: 16px;
            line-height: 1.625em;
            letter-spacing: 0.014em;
        }
    }

    &__circle {
        min-width: 56px;
        height: 56px;
        background: #FAEFCD;
        position: relative;
        border-radius: 50%;
        margin-right: 16px;

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 40px;
            height: 40px;
            background-color: #F6C223;
            border-radius: 50%;
        }
    }

    &__title {
    }
}
