.blog {
    & .hero {
        margin-bottom: 160px;
        @include mb();
    }

    &__content {

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -37.5px -21px;

        @media (max-width: $md3+px) {
            margin: 0 -20px 0;
        }

        & > li {
            padding: 0 37.5px;
            margin-bottom: 140px;
            flex: 0 1 33.333%;

            @media (max-width: $md2+px) {
                flex: 0 1 50%;
            }

            @media (max-width: $md3+px) {
                padding: 0 20px;
                margin-bottom: 90px;
            }

            @media (max-width: 575px) {
                flex: 0 1 100%;
                margin-bottom: 60px;
            }
        }
    }
}






.pagination {
    margin-bottom: 158px;
    @include mb();

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $md3+px) {
        flex-wrap: wrap;
    }


    &__btn {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        transition: all .2s ease;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.014em;
        color: $titleCOlor2;
        text-transform: uppercase;

        @media (max-width: $md3+px) {
            margin: 0 10px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($titleCOlor2, 0.1);
            }
        }
        &_prev {
            &:before {
                font-family: 'icomoon' !important;
                content: "\e907";
                transform: rotate(90deg);
                margin-right: 10px;
                font-size: 12px;
            }
        }

        &_next {
            &:after {
                font-family: 'icomoon' !important;
                content: "\e907";
                transform: rotate(-90deg);
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }

    &__list {
        margin: 0 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $md3+px) {
            margin: 0 0 20px;
            flex: 0 1 100%;
            order: -1;
        }

        & > li {
           margin: 0 6px;
        }
    }

    &__link {
        display: inline-flex;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: #A8A9B0;
        line-height: 22px;
        transition: all .2s ease;
        background: transparent;

        &.active {
            background: linear-gradient(132.12deg, #487FF4 -22.87%, rgba(72, 127, 244, 0) 83.62%), #194299;
            color: #fff;
        }

        @media (min-width: 992px) {
            &:hover {
                background: linear-gradient(132.12deg, #487FF4 -22.87%, rgba(72, 127, 244, 0) 83.62%), #194299;
                color: #fff;
            }
        }
    }
}
