.cta-block {
    background: linear-gradient(132.12deg, #487FF4 -22.87%, rgba(72, 127, 244, 0) 83.62%), #194299;
    border-radius: 12px;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 80px 36px;
    margin-bottom: 50px;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/photo/cta-block-bg-decor.png);
        background-repeat: no-repeat;
        background-position: right 95%;
        z-index: 1;
    }

    &_form {
        padding: 60px 20px;

        & .cta-block__text {
            margin-bottom: 41px;
        }

        & .btn-default {
            width: auto !important;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 36px;
        color: #fff;
    }

    &__text {
        opacity: 0.8;
        margin-bottom: 60px;
        letter-spacing: 0.014em;
        line-height: 1.56em;
    }

    &__input {
        width: 100%;
        display: flex;
        align-items: center;
        background: rgba(#fff, 0.2);
        border-radius: 12px;
        color: #fff;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.014em;
        padding: 19px 24px;
        margin-bottom: 28px;

        &::placeholder {
            font-size: 18px;
            line-height: 22px;

            letter-spacing: 0.014em;
            color: #FFFFFF;
            opacity: 0.7;
        }
    }

    & .btn-default {
        width: 100%;
        max-width: 14.9444em;
        min-width: 9.6em;
    }
}
